<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="d-flex list-group-item" href="#">
      <div>
        <h4 class="list-group-item-heading">Recipe Name</h4>
        <p class="list-group-item-text">Description</p>
      </div>
      <img
        class="img-fluid ms-auto"
        style="max-height: 50px"
        src="https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg"
        alt=""
      />
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
